$white: #fff;
$black: #000;

$gray: (
  '0': '#f8f9fa',
  '1': '#f1f3f5',
  '2': '#e9ecef',
  '3': '#dee2e6',
  '4': '#ced4da',
  '5': '#adb5bd',
  '6': '#868e96',
  '7': '#495057',
  '8': '#343a40',
  '9': '#212529',
);

$red: (
  '0': '#fff5f5',
  '1': '#ffe3e3',
  '2': '#ffc9c9',
  '3': '#ffa8a8',
  '4': '#ff8787',
  '5': '#ff6b6b',
  '6': '#fa5252',
  '7': '#f03e3e',
  '8': '#e03131',
  '9': '#c92a2a',
);

$blue: (
  '0': '#e7f5ff',
  '1': '#d0ebff',
  '2': '#a5d8ff',
  '3': '#74c0fc',
  '4': '#4dabf7',
  '5': '#339af0',
  '6': '#228be6',
  '7': '#1c7ed6',
  '8': '#1971c2',
  '9': '#1864ab',
);

$green: (
  '0': '#ebfbee',
  '1': '#d3f9d8',
  '2': '#b2f2bb',
  '3': '#8ce99a',
  '4': '#69db7c',
  '5': '#51cf66',
  '6': '#40c057',
  '7': '#37b24d',
  '8': '#2f9e44',
  '9': '#2b8a3e',
);

$yellow: (
  '0': '#fff9db',
  '1': '#fff3bf',
  '2': '#ffec99',
  '3': '#ffe066',
  '4': '#ffd43b',
  '5': '#fcc419',
  '6': '#fab005',
  '7': '#f59f00',
  '8': '#f08c00',
  '9': '#e67700',
);

@mixin color($colors, $key) {
  @each $name, $color in $colors {
    .text-#{$key}-#{$name} {
      color: var(--#{$key}-#{$name});
    }
    .bg-#{$key}-#{$name} {
      background-color: var(--#{$key}-#{$name});
    }
  }
}

@include color($gray, 'gray');
@include color($yellow, 'yellow');
@include color($red, 'red');
@include color($blue, 'blue');
@include color($green, 'green');
.text-white {
  color: var(--white);
}

.bg-white {
  background-color: var(--white);
}

.text-black {
  color: var(--black);
}

.bg-black {
  background-color: var(--black);
}
